# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual env
venv/
.env
.env.*

# But keep example env
!.env.example

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test/cache
.pytest_cache/
.mypy_cache/

# Build
dist/
build/

# Alembic / local files
*.sqlite3